<section>
  <h1> Title </h1>
  <p>Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna.Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!In elementis mé
    pra
    quem é amistosis quis leo.Per aumento de cachacis, eu reclamis.</p>
</section>

<section>
  <form class="row">
    <div class="col-8">
      <label for="movieName" class="visually-hidden">Nome do Filme</label>
      <input type="input" class="form-control" id="movieName" placeholder="Nome do Filme">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3"> Search </button>
    </div>

    <div class="col-auto">

      <button type="submit" class="btn btn-secondary mb-3"> Reset</button>
    </div>
  </form>
</section>

<section class="row">
  <div class="col-8">
    <h3>Movie Title</h3>
    <p>Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate
      dapibus.Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.Suco de cevadiss deixa as pessoas mais interessantis.

      Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum.Aenean aliquam molestie leo, vitae iaculis nisl.Paisis, filhis, espiritis santis.Nec orci ornare consequat.
      Praesent
      lacinia ultrices consectetur. Sed non ipsum felis.</p>
  </div>
  <aside class="col-4">
    <picture>
      <img src="https://picsum.photos/200/300" alt="movieBanner" />
    </picture>
  </aside>

  <h5>Actor: </h5>
  <div class="d-flex justify-between">
    <h5>Review</h5>
    <i class="bi bi-star"></i>
    <i class="bi bi-star-half"></i>
  </div>
</section>