<!-- Criando variavel local para indicar que o angular deve ajudar a gerenciar esse formulário. Usando a variavel # o formulario será referenciado como todo-->
<form
    #f='ngForm'
    (ngSubmit)="onSubmit(f)"
>
    <div class="form-group">
        <label
            for="nome"
            class="form-label"
        >Nome</label>
        <input
            type="text"
            name="nome"
            class="form-control "
            placeholder="Nome"
            aria-label="nome"
            aria-describedby="basic-addon1"
            id="nome"
            [(ngModel)]="usuario.nome"
            required
            #nome="ngModel"
            [class.is-invalid]="!nome.valid && nome.touched"
        >
        <div
            *ngIf="!nome.valid && nome.touched"
            class="alert alert-danger"
            role="alert"
        >
            Nome é obrigatório.
        </div>
        <!-- <div>
            {{nome.className}}
        </div> -->
    </div>
    <div class="form-group">
        <label
            for="email"
            class="form-label"
        >Email</label>
        <div class="input-group mb-3">
            <span
                class="input-group-text"
                id="basic-addon2"
            >@</span>
            <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Email"
                aria-label="email"
                aria-describedby="basic-addon1"
                id="email"
                placeholder="nome@email.com"
                [(ngModel)]='usuario.email'
                required
                email
                #email="ngModel"
                [class.is-invalid]="!email.valid && email.touched"
            >
        </div>
        <div
            *ngIf="!email.valid && email.touched"
            class="alert alert-danger"
            role="alert"
        >
            Email é obrigatório.
        </div>
    </div>
    <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!f.valid"
    >Submit</button>
    <app-form-debug [form]="f"></app-form-debug>
</form>