<div class="mt-5">
  <div class="custom-file mb-3">
    <label
      for="formFileMultiple"
      class="form-label"
      id="customFileLabel"
    >Selecionar Arquivo</label>
    <input
      class="form-control"
      type="file"
      id="formFileMultiple"
      (change)="onChange($event)"
      multiple
    >
  </div>
</div>

<div class="progress my-3" >
  <div class="progress-bar bg-success" role="progressbar" [style.width]="progress+'%'">{{progress}} %</div>
</div>

<div class=""><button
    type="button"
    class="btn btn-primary"
    (click)="onUpload()"
    [disabled]="!files"
    >Subir arquivo !</button></div>
