<form
    class="form-horizontal"
    [formGroup]="formulario"
    (ngSubmit)="onSubmit()"
>
    <app-input-field
        class="col-sm-12"
        formControlName="nome"
        [classeCss]="aplicarCssErro('nome')"
        id="nome"
        label="Nome"
        [control]="$any(formulario.get('nome'))"
    ></app-input-field>

    <div class="form-group row">
        <div class="col-sm-12">
            <label
                for="email"
                class="form-label"
            >Email</label>
        </div>
        <div class="col-sm-12">

            <div class="input-group">
                <span
                    class="input-group-text"
                    id="basic-addon2"
                >@</span>
                <input
                    type="email"
                    formControlName="email"
                    class="form-control"
                    placeholder="Email"
                    aria-label="email"
                    aria-describedby="basic-addon1"
                    id="email"
                    placeholder="nome@email.com"
                    [ngClass]="aplicarCssErro('email')"
                >
            </div>
            <app-error-msg
                [control]="$any(formulario.get('email'))"
                label="Email"
            >
            </app-error-msg>

            <!-- Refatoração para componente unico de validação do campo app-error-msg -->
            <!-- <app-campo-control-erro
                [mostrarErro]="verificaValidTouched('email') "
                mensagemErro="Email é obrigatório"
            ></app-campo-control-erro>
            <app-campo-control-erro
                [mostrarErro]="verificaEmailInvalido()"
                mensagemErro="Email inválido"
            ></app-campo-control-erro>
            <app-campo-control-erro
                [mostrarErro]="formulario.get('email')?.status === 'PENDING'"
                mensagemErro="Validando email..."
            ></app-campo-control-erro>
            <app-campo-control-erro
                [mostrarErro]="formulario.get('email')?.status === 'VALID'"
                mensagemErro="Email válido"
            ></app-campo-control-erro>
            <app-campo-control-erro
                [mostrarErro]="formulario.get('email')?.hasError('emailInvalido')"
                mensagemErro="Email já cadastrado!"
            ></app-campo-control-erro> -->
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <label
                for="email"
                class="form-label"
            >Confirmar Email</label>
        </div>
        <div class="col-sm-12">

            <div class="input-group">
                <span
                    class="input-group-text"
                    id="basic-addon2"
                >@</span>
                <input
                    type="email"
                    formControlName="confirmarEmail"
                    class="form-control"
                    placeholder="Confirmar Email"
                    aria-label="confirmarEmail"
                    aria-describedby="basic-addon1"
                    id="confirmarEmail"
                    placeholder="nome@email.com"
                >
            </div>
            <app-error-msg
                [control]="$any(formulario.get('confirmarEmail')?.hasError('equalsTo'))"
                label="Confirmar Email"
            >
            </app-error-msg>

            <!-- refatoracao para app-error-msg -->
            <!-- <app-campo-control-erro
                [mostrarErro]="formulario.get('confirmarEmail')?.hasError('equalsTo')"
                msgErro="Emails não são iguais."
            >
            </app-campo-control-erro> -->
        </div>
    </div>

    <div formGroupName="endereco">
        <div class="form-group row">
            <div class="col-sm-3">
                <label
                    for="cep"
                    class="control-label"
                >CEP</label>
                <input
                    class="form-control"
                    id="cep"
                    formControlName="cep"
                >
                <app-error-msg
                    [control]="$any(formulario.get('endereco.cep'))"
                    label="CEP"
                >

                </app-error-msg>
                <!-- <app-campo-control-erro
                    [mostrarErro]="verificaRequired('endereco.cep')"
                    mensagemErro="Cep é obrigatório"
                ></app-campo-control-erro>
                <app-campo-control-erro
                    [mostrarErro]="formulario.get('endereco.cep')?.hasError('cepInvalido')"
                    mensagemErro="Cep Inválido"
                ></app-campo-control-erro> -->
            </div>

            <div class="col-sm-3">
                <label
                    for="numero"
                    class="control-label"
                >Número</label>
                <input
                    type="text"
                    class="form-control"
                    id="numero"
                    formControlName="numero"
                >
                <app-error-msg
                    [control]="$any(formulario.get('endereco.numero'))"
                    label="Número"
                >
                </app-error-msg>
                <!-- <app-campo-control-erro
                    [mostrarErro]="verificaValidTouched('endereco.numero')"
                    mensagemErro="Número é obrigatório"
                ></app-campo-control-erro> -->
            </div>

            <div class="col-sm-6">
                <label
                    for="complemento"
                    class="control-label"
                >Complemento</label>
                <input
                    type="text"
                    class="form-control"
                    id="complemento"
                    formControlName="complemento"
                >
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label
                    for="rua"
                    class="control-label"
                >Rua</label>
                <input
                    type="text"
                    class="form-control"
                    id="rua"
                    formControlName="rua"
                >
                <app-campo-control-erro
                    [mostrarErro]="verificaValidTouched('endereco.rua')"
                    mensagemErro="Rua é obrigatório"
                ></app-campo-control-erro>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">
                <label
                    for="bairro"
                    class="control-label"
                >Bairro</label>
                <input
                    type="text"
                    class="form-control"
                    id="bairro"
                    formControlName="bairro"
                >
                <app-campo-control-erro
                    [mostrarErro]="verificaValidTouched('endereco.bairro')"
                    mensagemErro="Bairro é obrigatório"
                ></app-campo-control-erro>
            </div>

            <div class="col-sm-4">
                <label
                    for="cidade"
                    class="control-label"
                >Cidade</label>
                <input
                    type="text"
                    class="form-control"
                    id="cidade"
                    formControlName="cidade"
                >
                <!-- Refactorado campo per app errore -->
                <!-- <app-campo-control-erro
                    [mostrarErro]="verificaValidTouched('endereco.cidade')"
                    mensagemErro="Cidade é obrigatório"
                ></app-campo-control-erro> -->

                <app-error-msg
                    [control]="$any(formulario.get('endereco.cidade'))"
                    label="Cidade"
                >
                </app-error-msg>
            </div>

            <div class="col-sm-3">
                <label
                    for="estado"
                    class="control-label"
                >Estado</label>
                <select
                    class="form-control"
                    id="estado"
                    formControlName="estado"
                >
                    <option
                        *ngFor="let estado of estados | async"
                        [value]="estado.sigla"
                    >{{ estado.nome}}</option>
                </select>
                <app-error-msg
                    [control]="$any(formulario.get('endereco.estado'))"
                    label="Estado"
                >
                </app-error-msg>
                <!-- <app-campo-control-erro
                    [mostrarErro]="verificaValidTouched('endereco.estado')"
                    mensagemErro="Estado é obrigatório"
                ></app-campo-control-erro> -->
            </div>
        </div>
    </div>

    <div class="for-group">
        <div class="col-sm-3">
            <label
                for="cargo"
                class="control-label"
            >Cargo</label>
            <select
                class="form-control"
                id="cargo"
                [ngClass]="aplicarCssErro('cargo')"
                formControlName="cargo"
                [compareWith]="compararCargos"
            >
                <option
                    *ngFor="let cargo of cargos "
                    [ngValue]="cargo"
                >{{ cargo.desc}}</option>
            </select>
        </div>

        <div class="col-sm-3">
            <label
                for="tecnologias"
                class="control-label"
            >Tecnologias</label>
            <select
                multiple
                class="form-control"
                id="tecnologias"
                [ngClass]="aplicarCssErro('tecnologias')"
                formControlName="tecnologias"
            >
                <option
                    *ngFor="let tecnologia of tecnologias"
                    [value]="tecnologia.nome"
                >{{ tecnologia.desc}}</option>
            </select>
        </div>

        <div
            class="col-sm-3"
            [ngClass]="aplicarCssErro('newsletter')"
        >
            <label
                for="newsletter"
                class="control-label"
            >Newsletter</label>

            <div
                id="newsletter"
                class="row"
            >
                <div
                    class="col-sm-6"
                    *ngFor="let newsletter of newsletterOp"
                >
                    <label
                        for="newsletter"
                        class="radio-inline"
                    >
                        <input
                            type="radio"
                            formControlName="newsletter"
                            [value]="newsletter.valor"
                        >{{ newsletter.desc}}
                    </label>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-6">
            <div class="form-check form-check-inline">
                <label
                    for="checkbox"
                    class="form-check-label"
                ><input
                        type="checkbox"
                        formControlName="termos"
                        class="form-check-input"
                        [ngClass]="aplicarCssErro('termos')"
                    >Aceito os termos.
                </label>
                <app-campo-control-erro
                    [mostrarErro]="verificaValidTouched('termos')"
                    mensagemErro="Termos é obrigatório"
                ></app-campo-control-erro>
            </div>
        </div>

        <div class="row">
            <label for="frameworks">Frameworks</label>
            <div
                id="frameworks"
                class="col-sm-4"
            >
                <div
                    class="form-check form-check-inline"
                    formArrayName="frameworks"
                    *ngFor="let item of pegarFrameworksControls(); let i = index"
                >
                    <label
                        for="frameworks"
                        class="form-check-label"
                    ><input
                            type="checkbox"
                            class="form-check-input"
                            [ngClass]="aplicarCssErro('frameworks')"
                            [formControlName]="i"
                        >{{frameworks[i]}}
                    </label>
                </div>
                <app-campo-control-erro
                    [mostrarErro]="verificaValidTouched('frameworks')"
                    mensagemErro="Selecione ao menos 1 opção"
                ></app-campo-control-erro>
            </div>
        </div>

    </div>

    <div>
        <button
            type="submit"
            class="btn btn-primary"
        >Submit</button>
        <button
            class="btn"
            (click)="resetarFormulario()"
        >Cancelar</button>
        <button
            class="btn btn-info"
            (click)="setarCargo()"
        >Setar Cargo</button>
        <button
            class="btn btn-info"
            (click)="setarTecnologia()"
        >Tecnologias</button>
    </div>

    <app-form-debug [form]="formulario"></app-form-debug>

</form>