<form
    class="form-horizontal"
    [formGroup]="formulario"
    (ngSubmit)="onSubmit()"
>
    <div class="form-group row">
        <div class="col-sm-12">
            <label
                for="nome"
                class="form-label"
            >Nome</label>
        </div>
        <div class="col-sm-12">
            <input
                type="text"
                formControlName="nome"
                class="form-control"
                placeholder="Nome"
                aria-label="nome"
                aria-describedby="basic-addon1"
                id="nome"
            >
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <label
                for="email"
                class="form-label"
            >Email</label>
        </div>
        <div class="col-sm-12">

            <div class="input-group mb-3">
                <span
                    class="input-group-text"
                    id="basic-addon2"
                >@</span>
                <input
                    type="email"
                    formControlName="email"
                    class="form-control"
                    placeholder="Email"
                    aria-label="email"
                    aria-describedby="basic-addon1"
                    id="email"
                    placeholder="nome@email.com"
                >
            </div>
        </div>
    </div>

    <button
        type="submit"
        class="btn btn-primary"
    >Submit</button>
    <button class="btn" (click)="resetarFormulario()">Cancelar</button>
    <app-form-debug [form]="formulario"></app-form-debug>
</form>